# ======================
# Python bytecode
# ======================
__pycache__/
*.pyc
*.pyo
*.pyd

# ======================
# Virtual environments
# ======================
.venv/
venv/

# ======================
# Environment variables
# ======================
.env

# ======================
# OS / Editor junk
# ======================
.DS_Store
Thumbs.db