fastapi
uvicorn[standard]

sqlalchemy>=2.0
alembic
boto3
httpx
psycopg2-binary

pydantic
email-validator
python-dotenv

python-jose[cryptography]
passlib[bcrypt]

python-multipart

reportlab==4.2.2
python-dateutil
